
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background-color: #f8f9fa;
  --card-text-color: #000000;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background-color: #1e1e1e;
  --card-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Home.css */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.card {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
}
